.value {
  float: left;
  width: 25px;
  height: 25px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}
.keypad {
  width: 43px;
  height: 43px;
  margin: 1px;
  border: 1px solid rgba(0, 0, 0, .2);
}

label{
  margin:0;
  padding:0;
}


